html *
{
    text-align: center;
    background: #c0392b;
    color:rgb(208, 208, 208);
    font-size:2em;
}
.box {
    height: 400px;
    background: #c0392b;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}
